body {
    background-color: #93ffdf;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  img {
    height: 225px;
  }
  
  .card {
    background-image: linear-gradient(to bottom left, #ffffff, #00eeff);
  }
  .card-header {
    background-color: #cfd7fa;
    font-weight: bold;
    color: black;
  }
  
  .hidden {
    display: none;
  }

 